#file: .gitignore

#IDE Files
.idea/

#Local files
local/

#media files
media/

#static files collected by the collectstatic
/static/

#environment files
env/

#Django related files
__pycache__/
db.sqlite3
migrations
