#file: .gitignore

#IDE Files
.idea/

#Local files
local/

#media files
media/

#environment files
env/

# static files collected by collectstatic
src/blog/static/

#Django related files
__pycache__/
db.sqlite3
migrations
