{% extends 'myblog/base.html' %}

{% block content %}

<body>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% include 'myblog/page_header.html' with header_img_url="/static/img/about-bg.jpg" header_title="About Me" header_subtitle="Curious Wanderer" %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Hi! I am Gunduz. I love the exchange of ideas, so I will share some of mine in this blog.
                This blog is intended for posts further exploring all corners of my life,
                including technology, literature, music, and travel!</p>
            <p>That being said, I am a software engineer (for a good portion of the day),
                slightly experienced and interested in systems architecture, cloud computing and information security.
                I currently reside in Turkey, which is ideal for short runaways to hitchhike around the country.</p>
            <p>Currently I am in the process of interview preparation for starting in silicon valley companies as a
                software engineer.
                I will be sharing my experiences along the way, so stick around if you are interested.</p>
            <p>You can follow me on social platforms via the links below.</p>
        </div>
    </div>
</div>

<hr>

{% endblock %}
