{% extends 'myblog/base.html' %}

{% block content %}

<body>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% include 'myblog/page_header.html' with header_img_url="/static/img/about-bg.jpg" header_title="About Me" header_subtitle="This is what I do!" %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci q
                uas excepturi maxime quae totam ducimus consectetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci q
                uas excepturi maxime quae totam ducimus consectetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci q
                uas excepturi maxime quae totam ducimus consectetur?</p>
        </div>
    </div>
</div>

<hr>

{% endblock %}
