{% extends 'myblog/base.html' %}

{% block content %}

<!-- Page Header -->
{% if category %}
    {% include 'myblog/page_header.html' with header_img_url=category.header_image.url header_title="My BLog" header_subtitle=category.tag_line %}
{% else %}
    {% include 'myblog/page_header.html' with header_img_url="/static/img/home-bg.jpg" header_title="My Blog" header_subtitle="Some wonderful blog right here!" %}
{% endif %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
                <div class="post-preview">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">{{ post.formatted_markdown|safe|slice:"200" }}</p>
                    <p class="post-meta"><a href="{{ post.get_absolute_url }}">See In Detail</a></p>
                    <p class="post-meta">
                        Posted by <a href="{% url 'about_me_url' %}">This Dude</a> on {{ post.date_published }}
                    </p>
                </div>
            {% endfor %}
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">
                    Older Posts &rarr;
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

{% endblock %}